In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
import operator
import math

df = pd.read_csv("/Iris.csv")

df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [2]:
train, test = train_test_split(df, test_size = 0.34)

In [3]:
train.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
5,6,5.4,3.9,1.7,0.4,Iris-setosa
30,31,4.8,3.1,1.6,0.2,Iris-setosa
26,27,5.0,3.4,1.6,0.4,Iris-setosa
38,39,4.4,3.0,1.3,0.2,Iris-setosa
99,100,5.7,2.8,4.1,1.3,Iris-versicolor

In [4]:
def distance(data1, data2, length) :
    distance = 0
    for i in range(length) :
        distance += pow((data2[i] - data1[i]), 2)
    
    return math.sqrt(distance)

In [5]:

def getNeighbors(train, data, k) :
    distances = []
    length = len(data) - 1
    for i in range(len(train)) :
        dist = distance(train.iloc[i], data, length)
        distances.append((train.iloc[i], dist))
    
    distances.sort(key = operator.itemgetter(1))
    
    neighbors = []
    for i in range(k) :
        neighbors.append(distances[i][0])
    
    return neighbors

In [6]:
def prediction(neighbors) :
    values = {}
    
    for i in range(len(neighbors)) :
        value = neighbors[i][-1]
        if value in values :
            values[value] += 1
        else :
            values[value] = 1
        
    sortedValues = sorted(values.items(), key = operator.itemgetter(1), reverse = True)
    
    return sortedValues[0][0]

In [7]:
def accuracy(calculated, test) :
    correct = 0
    for i in range(len(test)) :
        if test.iloc[i][-1] == calculated[i] :
            correct += 1
        
    
    return (correct / len(test)) * 100

In [8]:
k = 5
responses = []
for i in range(len(test)) :
    neighbors = getNeighbors(train, test.iloc[i], k)
    response = prediction(neighbors)
    responses.append(response)

acc = accuracy(responses, test)
print(acc)

100.0